<launch>
    <!-- <arg name="doArm" default="False" /> -->


    <include file="$(find bluerov_sim)/launch/final_project_world.launch">
        <arg name="gui" value="true"/>
        <arg name="camera" value="false" />
        <arg name="paused" value="false" />
    </include>

    <node name="strategy_planer" pkg="nav_controller" type="strategy_planer.py" output="screen">
        <param name="doArm" type="bool" value="True"/>
    </node>

    <node name="yaw_translator" pkg="nav_controller" type="yaw_translator.py" output="screen">
        <param name="isSim" type="bool" value="True"/>
    </node>

    <node name="mixer" pkg="depth_controller" type="mixer.py" output="screen" />
   
    <node name="depth_calculator" pkg="depth_controller" type="pressureToDepth.py" output="screen"/>

    <!-- <node name="trans_control_ring" pkg="nav_controller" type="trans_control_ring.py" output="screen"/> -->
    <!-- <node name="rot_control" pkg="nav_controller" type="rot_control.py" output="screen"/> -->

    <node name="localizationNodeRing" pkg="nav_controller" type="ring_localization.py" output="screen" />
    <node name="LS_localizationNode" pkg="nav_controller" type="localization_node.py" output="screen" />
    <!-- <node name="Kalman_localizationNode" pkg="nav_controller" type="kalman.py" output="screen" /> -->

    <node name="ring_to_world_calc" pkg="nav_controller" type="ring_in_world.py" output="screen" />
    <node name="alarmNode" pkg="nav_controller" type="alarm.py" output="screen" />

</launch>